@font-face {
    font-family: 'fontes_gustavoregular';
    src: url('fontes-gustavo-webfont.woff2') format('woff2'),
        url('fontes-gustavo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
